.sectionGaleryPhotos{
    margin:30px 16px 0px 16px;
    display: flex;
    flex-flow: column nowrap;
}
.titleGalery{
    font-size: 16px;
}
.carousel{
    margin-top:16px ;
}
.carouselContainer{
    width: 100%;    
}
.imgGalery{
    width: 168px;
    height: 160px;
}
@media screen and (min-width: 1024px) {

	.titleActSecs {
	  font-size: 30px;
	  margin-left: 80px;
	}
  
  
  
	.alice-carousel {
	  position: relative;
	  width: 100%;
	  margin: auto;
	  direction: ltr;
	  position: relative;
	  display: flex;
	  white-space: space pre; ;
	  line-height: 12rem;
	  display: inline-flex;
	  justify-content: center;
	 
	}
  
	.alice-carousel__stage-item {
	  position: relative;
	  display: flex;
	  display: inline-flex;
	  justify-content: space-between;
	  max-width: 50;
	}
  
	.alice-carousel__wrapper {
	  position: relative;
	  box-sizing: border-box;
	  width: 90rem;
	  height: auto;
	}
	.footerframe {
	  background-image: url("https://www.powr.io/powr.js?platform=html");
	  width: 100%;
	  height: 25rem;
	}
	.h2Carrousel {
	  background-color: white;
	  width: 100%;
	  height: 120px;
	}
	.alice-carousel__stage-item  {
		width: 40rem;

	}
	

  }
  